node_modules/
dist/
*.tgz

/playwright-report/
/test-results/

/tests/fixture/.next/
/tests/fixture/node_modules/
/tests/fixture/playwright-report/
/tests/fixture/test-results/
/tests/fixture/tests/visual/__screenshots__/

.DS_Store
